@page "{id:int}"
@model SistemaBiblioteca.Pages.Pages.Emprestimo.Delete
<link rel="stylesheet" href="~/lib/css/estilo.css"/>
<div>
    <h1>Deseja realmente remover?</h1>

    <p><strong>Data do Empréstimo:</strong> @Model.EmprestimoModel.DataEmprestimo </p>
    <p><strong>Data de Devolução Prevista:</strong> @Model.EmprestimoModel.DataDevolucaoPrevista </p>
    <p><strong>Bibliotecário ID:</strong> @Model.EmprestimoModel.BibliotecarioID </p>
    <p><strong>Livro ID:</strong> @Model.EmprestimoModel.LivroID </p>
    <p><strong>Nome do Usuário:</strong> @Model.EmprestimoModel.NomeUsuario </p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Emprestimo/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>