@page "{id:int}"
@model SistemaBiblioteca.Pages.Pages.Emprestimo.Details
<link rel="stylesheet" href="~/lib/css/estilo.css"/>
<h1>Detalhes do Emprestimo: </h1>

<div class="info">
    <p><strong>Data do Empréstimo:</strong> @Model.EmprestimoModel.DataEmprestimo </p>
    <p><strong>Data de Devolução Prevista:</strong> @Model.EmprestimoModel.DataDevolucaoPrevista </p>
    <p><strong>Bibliotecário ID:</strong> @Model.EmprestimoModel.BibliotecarioID </p>
    <p><strong>Livro ID:</strong> @Model.EmprestimoModel.LivroID </p>
    <p><strong>Nome do Usuário:</strong> @Model.EmprestimoModel.NomeUsuario </p>
</div>

<p style="text-align:center"><a class="btn btn-primary" role="button" asp-page="Index"> <strong>Voltar</strong></a></p>

<style>

    main{
        
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info{
        width: 60vw;
        text-align: left;
        background-color: rgb(201, 201, 201);
        padding: 10px;
        border-radius: 5px;
    }
